/*
=============================
  BODY
=============================
*/
body {
  padding: 20px 0;
  font-family: "Maven Pro", sans-serif;
}
.fullApplication {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 200px auto;
  grid-template-areas:
    "header header"
    "bio posts";
}
*:focus {
  outline: none;
}
textarea {
  font-family: "Maven Pro", sans-serif;
}
/*
=============================
  HEADER
=============================
*/
.header {
  background-image: url("https://images-for-backgrounds.s3.us-east-2.amazonaws.com/plant.PNG");
  background-color: rgba(153, 205, 50, 0.432);
  grid-area: header;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 110%;
  font-size: 50px;
}

/*
=============================
  BIO
=============================
*/
.bioContainer {
  grid-area: bio;
  margin-top: -50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: white;

  padding: 30px;
  border-radius: 60px;
  height: 110%;
}
.icon {
  font-size: 150px;
  margin-top: -100px;
  background-color: white;
  border-radius: 50%;
}

/* BUTTONS ON PROFILE */
.btn {
  color: rgba(0, 0, 0, 0.445);
  cursor: pointer;
  display: inline;
}
.editBtn {
  text-align: right;
}
.btn:hover {
  color: black;
}
.logoutBtn {
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: 110%;
  text-align: left;
  background-color: white;
  width: auto;
}
.btns {
  display: grid;
  grid-template-columns: 50% 50%;
}
.logoutForm {
  padding: 0;
  text-align: left;
}

/*
=============================
  EDIT BIO
=============================
*/
.editContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25vh;
  margin-left: -25vh;
  padding: 40px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: white;
  min-width: 50vh;
  min-height: 50vh;
  z-index: 900;
}
.closeBtn {
  cursor: pointer;
  text-align: right;
}
.alertBackground {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.452);
  z-index: 800;
}
.editNameInput {
  border-radius: 10px;
  padding: 10px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.048) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.041) 0px 18px 36px -18px inset,
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.editBioTextArea {
  border-radius: 20px;
  resize: none;
  padding: 20px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.048) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.041) 0px 18px 36px -18px inset,
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.editSaveBtn {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(153, 205, 50, 0.548);
  border: none;
}
.editSaveBtn:hover {
  background-color: yellowgreen;
}

/* ALERT TRANSITION  */
.alertEnter {
  opacity: 0;
  transform: scale(0.9);
}
.alertEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alertExit {
  opacity: 1;
}
.alertExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/*
=============================
  POSTS
=============================
*/
.postsContainer {
  grid-area: posts;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px;
}
.postMessage {
  background-color: yellowgreen;
  border-radius: 50px;
  padding: 20px 100px 20px 50px;
  text-align: center;
  width: fit-content;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transform: translateX(60px);
}
.messagePostBtn {
  border: 0;
  padding: 0;
  font-size: 250%;
  background-color: yellowgreen;
  width: auto;
  transform: translateY(-15px) scaleX(-1) rotate(5deg);
}
.postInput {
  border: none;
  padding: 20px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 30px;
  resize: none;
}

/*
=============================
  MESSAGES
=============================
*/
.messageContainer {
  margin: 20px;
  background-color: yellowgreen;
  border-radius: 50px;
  padding: 20px 100px 20px 50px;
  width: 70%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.messageName {
  font-size: 40px;
  text-align: left;
}
.messageDate {
  color: rgba(0, 0, 0, 0.534);
  text-align: right;
  transform: translateY(-30px);
}
.message {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.692);
  padding: 20px;
  border-radius: 20px;
}
