body {
  padding: 20px 0;
  font-family: "Maven Pro", sans-serif;
}
.fullApplication {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 200px auto;
  grid-template-areas:
    "header header"
    "bio posts";
}

/* HEADER */
.header {
  background-image: url("https://images-for-backgrounds.s3.us-east-2.amazonaws.com/42331.jpg");
  grid-area: header;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
  font-size: 50px;
}

/* BIO */
.bioContainer {
  grid-area: bio;
  margin-top: -50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.icon {
  font-size: 150px;
  margin-top: -100px;
  background-color: white;
  border-radius: 50%;
}
/* BUTTONS ON PROFILE */
.bioBtns {
  color: rgba(0, 0, 0, 0.445);
  cursor: pointer;
  display: inline;
}
.editBtn {
  text-align: right;
}
.bioBtns:hover {
  color: black;
}
.logoutBtn {
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: 110%;
  text-align: left;
  background-color: white;
  width: auto;
}
.btns {
  display: grid;
  grid-template-columns: 50% 50%;
}
.logoutForm {
  padding: 0;
  text-align: left;
}

/* EDIT ALERT */
.editContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25vh;
  margin-left: -25vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
  min-width: 50vh;
  min-height: 50vh;
  z-index: 900;
}
.closeBtn {
  cursor: pointer;
  text-align: right;
}
.alertBackground {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.452);
  z-index: 800;
}

/* ALERT TRANSITION  */
.alertEnter {
  opacity: 0;
  transform: scale(0.9);
}
.alertEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alertExit {
  opacity: 1;
}
.alertExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.postsContainer {
  grid-area: posts;
  background-color: rgba(255, 255, 255, 0.445);
  height: 100%;
  width: 100%;
}
